.newshub {
    background-color: var(--cover-color);
    width: 97%;
    margin: 10px auto;
    border-radius: 44px;

}
/* Header */
/* Navbar */

.newshub_header {
    width: 97%;
    margin: auto;
    padding: 10px;
}

.newshub_header_nav {
    width: 100%;
    background-color: var(--primary-color);
    margin: auto;
    border-radius: 44px;
    display: flex;
    justify-content:space-between;
    box-shadow: 0px 1px 1px 1px var(--border-color);
}

.nav_list,
.nav_list_search {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 0 2%;
    
}

.nav_items:first-child {
    padding: 0 10px;
}

.nav_items>span {
    padding: 0 10px;
    display: inline-block;
    align-content: center;
    height: 20px;
    border-left: 1px solid var(--border-color);
}

.nav_items:last-child>span {
    padding-right: 0;
}

.nav_logo {
    width: 100px;
}

.nav_weather {
    color: #7dbcff;
}

.nav_list_search {
    font-size: 0.8rem;
}

.nav_items_search {
    padding: 0 10px;
    align-content: center;
    height: 20px;
}

.nav_items_search:first-child {
    border-left: 1px solid var(--border-color);
}

.nav_search_input {
    padding-left: 5px;
    border-radius: 44px;
}

/* Menu */
.newshub_header_menu {
    width: 85%;
    height: 30px;
    background-color: var(--primary-color);
    margin: 10px auto;
    border-radius: 44px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    box-shadow: 0px 1px 1px 1px var(--border-color);
}

.icon_cover {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--icon-cover);
    align-content: center;
    padding: 0 auto;
    margin: 0 auto;
    position: relative;
    
}

.icon_home {
    color: #454444;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.menu_list{
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 0.9rem;
    justify-content: space-evenly;
}

.menu_items {
    height: 100%;
    text-align: center;
}

.menu_bars {
    font-size: 0.8rem;
    margin-right: 3%;
    
}

/* Body */
/* News hot */
.newshub_body {
    width: 90%;
    margin: 0 auto;
}

.newshub_body_header {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

/* Section 1: Content (Left) */
.newshub_body_header_left {
    width: 70%;
    display: flex;
    border-radius: 44px;
    overflow: hidden;
    background-color: var(--primary-color);
    box-shadow:-3px 3px 4px 1px rgba(0,0,0,0.4);
    overflow: hidden;
}

.newshub_hot_img {
    width: 75%;
    position: relative;
}

.img_hot {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img_top,
.img_down {
    font-size: 1.6rem;
    color: rgba(0,0,0,0.6);
    background-color: rgba(209, 206, 206, 0.6);
    width: 40px;
    height: 40px;
    border-radius:50%;
    position: relative;
}

.img_top:hover,
.img_down:hover {
    color: rgba(0,0,0,1);
    background-color: rgba(209, 206, 206, 1);
    transition: .3s linear;
}

.img_down {
    margin-top: 5px;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.img_up_down {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.newshub_hot_content {
    width: 25%;
}

.hot_content_present {
    height: 50%;
    padding: 10px;
    background-color: rgba(0,0,0,0.8);
    font-size: 0.8rem;
    color: grey;
    box-sizing: border-box;
}

.hot_content_title {
    font-size: 1.2rem;
    line-height: 1.4;
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.hot_content_body {
    margin-top: 10px;
    line-height: 1.4;
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 5;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.hot_content_footer {
    margin-top: 10px;
}

.news_seeing {
    background-color: rgba(0,0,0,0.9);
}

.news_seeing > h3 {
    color: rgb(210, 36, 9);
}

/* Clock */
.newshub_clock {
    width: 400px;
    padding-left:10px ;
    position: relative;
}

.clock_outline{
    width: 90%;
    background-color: black;
    padding: 20px;
    border-radius: 44px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.clock_hour {
    width: 45%;
    height: 70%;
    background-color: #212121;
    border-radius: 32px;
    text-align: center;
    align-content: center;
    font-weight:bold;
    color: #fff;
    line-height: 1;
    font-size: 8.5rem;
}

.clock_hour_wall {
    width: 5%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hour_wall {
    width: 20px;
    height: 20px;
    line-height: 0;
    background-color: #fff;
    border-radius: 50%;
}

.widget {
    width: 100%;
    margin-top: 12px;
    border-radius: 44px;
    height: 225px;
    overflow: hidden;
    position: relative;
}

.simplize-widget-chart-overview {
    /* position: absolute; */
}

/* News main */
.newshub_body_main {
    width: 100%;
    margin: 20px auto;
}


.newshub_topic {
    width: 100% ;
    position: relative;
}

.newshub_main_head {
    width: calc(100% - 40px);
    padding:20px;
    background-color: var(--primary-color);
    border-radius: 44px;
    box-shadow: 0px 1px 1px 1px var(--border-color);
}

.newshub_topic_out {
    width: 65%;
    position: relative;
}

.newshub_topic_out::after {
    content: "";
    position: absolute;
    background-color: #999;
    height: 99%;
    width: 1px;
    top: 0;
    right: -20px;
}

.newshub_main_content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.newshub_main_content::after {
    content: "";
    position: absolute;
    background-color: #999;
    width: 100%;
    height: 1px;
    top: 100%;
    left: 0;
}

.newshub_subjects {
    width: 100%;
    margin-bottom: 20px;
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items:last baseline;
}

.newshub_subjects_item {
    margin-right: 20px;
}

.newshub_subjects_item:first-child {
    font-weight: 700;
    font-size: 1.4rem;
    margin-right: 20px;
    position: relative;
}

.newshub_subjects_item:first-child::after {
    content: "";
    width: 100%;
    height: 5px;
    background-color: #7dbcff;
    border-radius: 44px;
    position: absolute;
    top: 100%;
    left: 0;

}

/* Main news content */
.newshub_subject {
    width: 100%;
    margin: 0px auto;
}

.newshub_subject_content {
    width: 100%;
    display: flex;
    position: relative;
}

.img_main {
    width: 40%;
    object-fit: cover;
}

.content {
    width: 30%;
    padding:0 10px;
    position: relative;
}

.content>h3 {
    font-size: 1.2rem;
    height: 60px;
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.content>.content_body {
    height: 100px;
    margin-top: 10px;
    font-size: 0.8rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    line-clamp: 5;
    text-overflow: ellipsis;
}

.content_right::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 1px;
    background-color: #999;
}

.newshub_subjects_list {
    width: 100%;
    margin-top: 20px;
}

.newshub_subjects_sup>img {
    width: 100%;
}

.newshub_subjects_sup>h3 {
    font-size: 1rem;
    height: 30%;
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}


.newshub_subject_content::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #999;
    top:105%;
    left:0;
}

.newshub_subjects_list {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    list-style:disc;
    font-size: 1.2rem;
    font-weight: 700;
    position: relative;
}

.newshub_subjects_sup {
    width: 30%;
}

.newshub_subjects_list::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #999;
    top: 95%;
    left: 0;
}

.newshub_topic:last-child .newshub_subjects_list::after {
    display: none;
}

/* Body right */

.newshub_sp_news {
    width: 30%;
}

.newshub_sp_news_item {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}

.newshub_sp_news_item>h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.newshub_sp_news_item:last-child::after {
    display: none;
}

.news_item_content {
    width: 100%;
    display: flex;
}

.content_img {
    width:40%;
    transform: translateY(-3px);
    object-fit: cover;
}

.news_item_content>.content_topic {
    width: 60%;
}

.news_item_content>.content_topic>p {
    width: 95%;
    font-size: 0.7rem;
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    margin-left: 10px;
}

.newshub_sp_news_item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #999;
    top: 100%;
    left: 0;
}

/* Supporting News */
.newshub_beside {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.newshub_beside_sections {
    width: 30%;
    position: relative;
    box-sizing: border-box;
}

.newshub_beside_sections::after {
    content: "";
    position: absolute;
    background-color: #999;
    height: 100%;
    width: 1px;
    right: -8%;
    top: 0;
}

.newshub_beside>.newshub_beside_sections:last-child:after {
    display: none;
}

.newshub_beside_sections>.newshub_beside_main_section:last-child::after {
    display: none;
}

.newshub_beside_subjects {
    width: 100%;
}

.newshub_subjects {
    width: 100%;
}

.newshub_beside_main_section {
    width: 100%;
    position: relative;
}

.newshub_subjects_beside {
    padding: 0;
}

.newshub_beside_main_section::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #999;
    top: calc(100% + 10px);
    left: 0;
}

.newshub_beside_main_section>img {
    width: 100%;
}

.newshub_beside_main_section>h3 {
    font-size: 1.2rem;
}

.newshub_beside_main_section>p {
    font-size: 0.8rem;
    margin: 5px 0 20px;
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

/* Footer */
.newshub_footer {
    width: 90%;
    margin: 0 auto;
    border-radius: 44px;
    background-color: var(--primary-color);
    box-shadow: 0px 1px 1px 1px var(--border-color);
}

.newshub_footer_head {
    width: 95%;
    margin: 0px auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    color: #888787;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    position: relative;
}

.newshub_footer_item a {
    color: #000;
}

.newshub_footer_menu {
    flex: 1;
}

.download_app {
    width: 100px;
    margin-top: 5px;
}

.download_app>img {
    width: 100%;
}

.newshub_footer_head .newshub_footer_menu:first-child {
    font-weight: 700;
    position: relative;
}

.newshub_footer_head .newshub_footer_menu:first-child .newshub_footer_item:first-child:after {
    content: "";
    position: absolute;
    width: 80%;
    height: 1px;
    background-color: #999;
    top: 62%;
    left: 0;
}

.newshub_footer_head .newshub_footer_menu:first-child .newshub_footer_item:first-child {
    margin-bottom: 10px;
}

.newshub_footer_head .newshub_footer_menu:last-child {
    position: relative;
}

.newshub_footer_head .newshub_footer_menu:last-child::before {
    content: "";
    position: absolute;
    background-color: #999;
    height: 100%;
    width: 1px;
    top: 0;
    left: -20px;

}

.newshub_footer_head .newshub_footer_menu:last-child .newshub_footer_item:first-child::after {
    content: "";
    position: absolute;
    background-color: #999;
    height: 1px;
    width: 100%;
    top: 35%;
    left: 0;
}

.newshub_footer_head .newshub_footer_menu:last-child .newshub_footer_item:first-child {
    margin-bottom: 20px;
}

.newshub_footer_head::after {
    content: "";
    position: absolute;
    background-color: #999;
    height: 1px;
    width: 100%;
    top: 95%;
    left: 0;
}

.newshub_footer_use {
    width: 95%;
    margin: 10px auto;
    font-size: 0.9rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
    top: -25px;
}

.newshub_footer_logo {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.newshub_footer_logo>img {
    width: 100px;
}

.footer_use {
    display: flex;
}

.footer_use_item {
    margin-right: 20px;
    position: relative;
}

.footer_use_item+.footer_use_item::after {
    content: "";
    position: absolute;
    background-color: #999;
    height: 100%;
    width: 1px;
    top: 0;
    left: -9px;
}

.newshub_footer_use::after {
    content: "";
    position: absolute;
    background-color: #999;
    height: 1px;
    width: 100%;
    top: calc(100% + 5px);
    left: 0;
}

.newshub_footer_footer {
    width: 95%;
    margin: 0 auto;
    font-size: 0.9rem;
    text-align: center;
    position: relative;
    top: -15px;
}